kitty/.config/kitty/kitty.conf.bak
zsh/extra_zish/*appleshit.zsh
/talos/.talos/keys
/antigravity/.config/Antigravity IDE/Cache
/antigravity/.config/Antigravity IDE/CachedConfigurations
/antigravity/.config/Antigravity IDE/CachedData
/antigravity/.config/Antigravity IDE/CachedExtensionVSIXs
/antigravity/.config/Antigravity IDE/CachedProfilesData
/antigravity/.config/Antigravity IDE/Code Cache
/antigravity/.config/Antigravity IDE/Cookies
/antigravity/.config/Antigravity IDE/Cookies-journal
/antigravity/.config/Antigravity IDE/Crashpad
/antigravity/.config/Antigravity IDE/DIPS
/antigravity/.config/Antigravity IDE/DIPS-wal
/antigravity/.config/Antigravity IDE/DawnGraphiteCache
/antigravity/.config/Antigravity IDE/DawnWebGPUCache
/antigravity/.config/Antigravity IDE/Dictionaries
/antigravity/.config/Antigravity IDE/GPUCache
/antigravity/.config/Antigravity IDE/Local Storage
/antigravity/.config/Antigravity IDE/Network Persistent State
/antigravity/.config/Antigravity IDE/Preferences
/antigravity/.config/Antigravity IDE/Session Storage
/antigravity/.config/Antigravity IDE/Shared Dictionary
/antigravity/.config/Antigravity IDE/SharedStorage
/antigravity/.config/Antigravity IDE/SharedStorage-wal
/antigravity/.config/Antigravity IDE/Trust Tokens
/antigravity/.config/Antigravity IDE/Trust Tokens-journal
/antigravity/.config/Antigravity IDE/User/globalStorage
/antigravity/.config/Antigravity IDE/User/workspaceStorage
/antigravity/.config/Antigravity IDE/code.lock
/antigravity/.config/Antigravity IDE/languagepacks.json
/antigravity/.config/Antigravity IDE/logs
/antigravity/.config/Antigravity IDE/machineid
/antigravity/.config/Antigravity IDE/TransportSecurity
/antigravity/.config/Antigravity IDE/User/History
/environment.d/.config/environment.d/10-home-manager.conf
/environment.d/.config/environment.d/50-ssh-askpass.conf
